:root,
body,
html {
	text-autospace: normal;
	text-spacing-trim: trim-start;
	font-feature-settings: 'palt';
	font-variant-ligatures: common-ligatures;
	font-optical-sizing: auto;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	hyphens: auto;
}

.code-block,
.code-group,
pre,
code {
	font-feature-settings: 'palt' 0 !important;
	text-autospace: no-autospace !important;
	font-variant-numeric: tabular-nums !important;
}

table {
	font-variant-numeric: tabular-nums;
}
